{:impala-driver
 {:name "Impala"
  :display-name "Apache Impala"
  :description "Driver for Apache Impala databases"
  :version "1.0.0"
  :connection-properties
  {:host {:display-name "Host"
          :type :string
          :required true
          :placeholder "localhost"}
   :port {:display-name "Port"
          :type :integer
          :required true
          :default 21050
          :placeholder "21050"}
   :database {:display-name "Database"
              :type :string
              :required true
              :placeholder "default"}
   :user {:display-name "Username"
          :type :string
          :required false
          :placeholder ""}
   :password {:display-name "Password"
              :type :password
              :required false
              :placeholder ""}
   :ssl {:display-name "Use SSL"
         :type :boolean
         :required false
         :default false}
   :additional-options {:display-name "Additional JDBC Options"
                        :type :string
                        :required false
                        :placeholder "option1=value1;option2=value2"}}
  :jdbc
  {:driver-class "com.cloudera.impala.jdbc.Driver"
   :subprotocol "impala"
   :url-template "jdbc:impala://{host}:{port}/{database}"
   :connection-timeout 30000
   :socket-timeout 60000}
  :features
  {:basic-aggregations true
   :standard-deviation-aggregations true
   :expressions true
   :native-parameters false
   :nested-queries true
   :binning true
   :case-sensitivity-string-filter true
   :left-join true
   :right-join true
   :inner-join true
   :full-join false
   :regex true
   :percentile-aggregations false
   :datetime-diff true
   :now true}}}